<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>YumSpot</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>YumSpot</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>

	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.1058981019015-chqlkl7cqaj7a5i96if3803v1ur0c717</string>
                
            </array>
        </dict>

        <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>yum_spot</string>
        <key>CFBundleURLSchemes</key>
        <array>
        <string>fr.yumspot.yumspot</string>
        </array>
        </dict>
    </array>
    <key>FlutterDeepLinkingEnabled</key>
    <false/>


	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>NSLocationWhenInUseUsageDescription</key>
    <string>Nous avons besoin de votre autorisation pour accéder à votre position afin de vous montrer les restaurants les plus proches et d&#39;améliorer votre expérience dans l&#39;application. Vous pouvez modifier cette autorisation dans les paramètres à tout moment.</string>
	<key>NSCameraUsageDescription</key>
    <string>Nous avons besoin de votre autorisation pour accéder à la caméra et prendre une photo de profil. Vous pouvez modifier cette autorisation dans vos paramètres à tout moment.</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>Nous avons besoin de votre autorisation pour accéder à la caméra et à votre bibliothèque de photos pour définir votre photo de profil. Vous pouvez modifier cette autorisation dans les paramètres à tout moment.</string>


    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>comgooglemaps</string>
      <string>baidumap</string>
      <string>iosamap</string>
      <string>waze</string>
      <string>yandexmaps</string>
      <string>yandexnavi</string>
      <string>citymapper</string>
      <string>mapswithme</string>
      <string>osmandmaps</string>
      <string>dgis</string>
      <string>qqmap</string>
      <string>here-location</string>

    </array>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>

</dict>
</plist>
